body {
  background-color: #fff; color: #333;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size:   15px;
  line-height: 18px;
}

h1 { font-size: 24px; }
h2 { font-size: 18px; }
a { text-decoration: none;}
#container {
  position:relative;
  width:950px;
  margin:20px auto;
}

h1.tagline {
  position:absolute;
  top:20px;
  right:10px;
  color: #666;
}
.small_text { font-size: 11px;}
/* Forms */
form label { font-weight: bold; }

/* Navigation */
#nav {
  padding: 5px 10px;
  /* background-color: #CCE6FF; */
  background-color: #eee;
  border:1px solid #ddd;
  text-align: right;
  font-size: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom:10px;
}

/* Tabs */
ul.tabs {
  float: left;
}
ul.tabs li {
  float: left;
  margin-right: 10px;
}

#submit_deal {margin-right: 10px;}
/* Deals */
#deals {
  width: 100%;
}
#deals td { padding: 3px; vertical-align:middle; border-bottom: 1px dashed #aaa;}
#deals td a {text-decoration: none;}
#deals .vote { width: 15px; }
#deals .points { width: 40px; font-weight: bold; text-align:center;}
#deals .price { width: 60px; }


#deals .vote a, #deals .vote p {
  display: block;
  height: 11px;
  width: 11px;
  margin: 2px;
}
.vote_up {background: url(../images/vote_up.png);}
.vote_down {background: url(../images/vote_down.png);}
.voted_up {background: url(../images/voted_up.png);}
.voted_down {background: url(../images/voted_down.png);}
